absl-py 
anyio 
apache-beam 
asgiref 
astunparse 
avro-python3 
awscli 
botocore 
CacheControl 
cachetools
certifi 
charset-normalizer 
click 
cloudpickle 
colorama 
contextlib2 
crcmod 
cycler 
Cython 
dill 
distlib 
dm-tree 
dnspython 
docopt 
docutils 
email-validator 
fastapi 
fastavro 
filelock 
firebase-admin 
flatbuffers 
fonttools 
gast 
gcloud 
gin-config 
google-api-core 
google-api-python-client 
google-auth 
google-auth-httplib2 
google-auth-oauthlib 
google-cloud-core 
google-cloud-firestore 
google-cloud-storage 
google-crc32c 
google-pasta 
google-resumable-media 
googleapis-common-protos 
grpcio 
grpcio-status
gunicorn 
h11 
h5py 
hdfs 
httplib2 
httptools 
idna 
importlib-metadata 
importlib-resources 
itsdangerous 
Jinja2 
jmespath 
joblib 
jws 
kaggle 
keras 
Keras-Preprocessing 
kiwisolver 
libclang 
lvis 
lxml 
Markdown  
MarkupSafe 
matplotlib 
msgpack 
numpy 
oauth2client 
oauthlib 
opencv-python 
opencv-python-headless 
opt-einsum 
orjson 
packaging 
pandas 
Pillow 
platformdirs 
portalocker 
promise 
proto-plus 
protobuf 
psutil 
py-cpuinfo 
pyarrow 
pyasn1 
pyasn1-modules 
pycocotools 
pycryptodome 
pydantic 
pydot 
pymongo 
pyparsing 
Pyrebase-t 
python-dateutil 
python-dotenv 
python-jwt 
python-multipart 
python-slugify 
pytz 
PyYAML 
regex 
requests 
requests-oauthlib 
requests-toolbelt 
rsa 
s3transfer 
sacrebleu 
scikit-learn 
scipy 
Send2Trash 
sentencepiece 
seqeval 
six 
sniffio 
starlette 
tabulate 
tensorboard 
tensorboard-data-server 
tensorboard-plugin-wit 
tensorflow 
tensorflow-addons 
tensorflow-datasets 
tensorflow-hub 
tensorflow-io 
tensorflow-io-gcs-filesystem 
tensorflow-metadata 
tensorflow-model-optimization 
tensorflow-text 
termcolor 
text-unidecode 
tf-estimator-nightly 
tf-models-official 
tf-slim 
threadpoolctl 
tqdm 
typeguard 
typing_extensions 
ujson 
uritemplate 
urllib3 
uvicorn 
virtualenv 
watchfiles 
watchgod 
wcwidth 
webencodings 
websockets 
Werkzeug 
wrapt 
zipp 
